/* RESET */
* {
	box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	outline: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
	width: 100%;
	height: auto;
	display: block;
}

/* ** CODE ** */
/* ---------- */
html, body {
	font-family: 'Titillium Web', sans-serif;
	font-size: 14px;
	line-height: 20px;
	background-color: #f4f4f4;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	color: #444;
}

a {
	color: #4a9bd3;
	-webkit-transition: .3s;
	transition: .3s;
}
	a:hover {
		color: #d39b4a;
	}

/* -- General CSS -- */
.wrapper-1024 {
	width: 90%;
	max-width: 1024px;
	margin: 0 auto;
}
.wrapper-full {
	width: 100%;
	max-width: 2048px;
	margin: 0 auto;
	padding: 0 2em;
}

header {
	width: 100%;
	display: table;
	position: fixed;
}
	#vcb-header-logo {
		width: 12%;
		max-width: 50px;
		padding: 1em;
		box-sizing: content-box;
		margin: 0 auto;
	}
	nav {
		font-size: .8em;
		line-height: 1em;
		float: right;
		padding-top: 3.4em;
	}
		nav a {
			color: #666;
			text-decoration: none;
			margin: 0 0 0 1.75em;
		}
			nav a:hover {
			}
			nav a:before {
				content: "+  ";
			}

section {
	width: 100vw;
	min-height: 100vh; 
}
	section:nth-child(even) {
		background-color: #f0f0f0;
	}

footer {
	width: 100%;
	font-size: .7em;
	line-height: 1em;
	color: #999;
	padding: 2em 0;
	background-color: #fff;
}
